<button md-button [routerLink]="['/home']">BACK</button>
<md-card class="repo-details">
    <md-card-header>
      <md-card-title><strong>{{repo.owner.login}}</strong> / <i>{{repo.name}}</i></md-card-title>
    </md-card-header>
    <md-card-content>
      <h3><strong>Language:</strong> {{repo.language}}</h3>
      <h3><strong>Followers:</strong> {{repo.watchers_count}}</h3>
      <h3><strong>Url:</strong> {{repo.html_url}}</h3>
      <h3><strong>Description:</strong> {{repo.description}}</h3>
    </md-card-content>
</md-card>
