.row-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mat-toolbar {
    font-size: 1.2em;
}

.result-list {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

#sb-result-list {
    min-height: 150px;
    max-height: 500px;
    overflow: scroll;
    background-color: lightgrey;
}

#header-left, #header-right {
    width: 200px;
}

h4 {
    display: inline;
}
.mat-list-item {
    height: 70px;
}

.mat-card {
    padding: 20px;
    width: 90%;
}

.mat-list-item-content, .result-btn {
    height: 100%;
    width: 100%;
}

.mat-button {
    text-align: left;
}