.search-grp {
    display: flex;
    justify-content: center;
}

.search-git-form {
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
}

#sb-clear-btn {
    align-self: center;
}
  
.full-width {
    width: 100%;
}

.mat-form-field {
    font-size: 2em;
    line-height: 1.3;
}

.sb-clear {
    font-size: 1.2em;
}

#spinner {
    margin: 0 auto;
}