.search-grp {
    display: flex;
    justify-content: center;
}
.mat-toolbar {
    font-size: 1.23em;
}
.search-git-form,
.fm-group,
#tb-invalid-search {
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
}

#sb-clear-btn,
#sb-search-btn {
    align-self: center;
}

.sb-clear,
.sb-search {
    font-size: 1.2em;
}
  
.full-width {
    width: 100%;
}

.mat-form-field {
    font-size: 2em;
    line-height: 1.3;
}

.fm-options form {
    display: inline;
}

#spinner,
.fm-group,
#tb-invalid-search {
    margin: 0 auto;
}